*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    color: rgb(212, 34, 153);
}

.apply-box{
    max-width: 600px;
    padding: 20px;
    background-color: aliceblue;
    margin: 0 auto;
    margin:50px ;
    box-shadow: 3px 4px 5px rgba(1, 1,1, 0.1);
    border-radius:10px ;
    font-family: Cambria, ;
}

.title_small{
    font-size: 20px;
    color: blanchedalmond;    
}


.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(200px , 1fr));
    gap: 20px;
}

.form_control{
    display: flex;
   flex-direction: column;
}


lable{
    font-size: 15px;
    margin-bottom: 5px;
}

input,select, textarea{
    padding:6px 10px ;
    border-radius:4px ;
    border:1px solid #ccc ;
    font-size: 15px;
    font-style: italic;

}


input:focus{
    outline-color: blue;
}

.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    transition: 0.3 ease-in;
}

button:hover{
    background-color: red;
    border: 2px solid red;
    color: black;
    cursor: pointer;
}

.textarea_control{
    grid-column: 1 / span 2;
}

.textarea_control textarea{
    width: 100px;

}

@media (max_width: 460px) {
    .textarea_control{
        grid-column: 1 / span 1;
    }
};
